@model GloriousCore.Models.ViewModels.ProductVM

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Новый продукт</h2>

<div>
    <a asp-action="Products">К списку продуктов</a>
</div>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<br />
<hr />
<div class="row">
    <div class="col drop">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex justify-content-between" style="padding: 10px 20px;">
                <div class="d-flex">
                    <p>Раздел: </p>
                    <select class="sec form-control" id="SectionId" name="SectionId">
                        @foreach (var item in Model.Sections)
                        {
                            if (ViewBag.SelectedSec == item.Value)
                            {
                                <option selected value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="d-flex">
                    <p>Категория: </p>
                    <select class="cat form-control" id="CategoryId" name="CategoryId">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="d-flex">
                    <p>Материал: </p>
                    <select class="mat form-control" id="MaterialId" name="MaterialId">
                        @foreach (var item in Model.Materials)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                
                

                

            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                @*<input asp-for="Description" class="form-control" />*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
            </div>
            <div class="form-group">

                <input type="file" name="file" id="ImageUpload" value="" />
                <img src="#" alt="Preview" id="imgpreview" />

            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="butt" />
            </div>
        </form>
    </div>
</div>
<link href="~/js/dropzone/basic.css" rel="stylesheet" />
<link href="~/js/dropzone/dropzone.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/dropzone/dropzone.js"></script>
    <script>

        $(function () {

          //preview select img

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("img#imgpreview")
                            .attr("src", e.target.result)
                            .width(200)
                            .height(200)
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ImageUpload").change(function () {
                readURL(this);
            });

            Dropzone.options.dropzoneForm = {
                acceptedFiles: "image/*",
                init: function() {
                this.on("complete", function (file) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        location.reload();
                    }
                });

                this.on("sending", function (file, xhr, formData) {
                    formData.append("id", @Model.Id);
                });
                }
            };

            $("a.deleteimage").click(function (e) {
                e.preventDefault();

                if (!confirm("Удалить?")) return false;

                var $this = $(this);
                var url = "/admin/dashboard/DeleteImg";
                var id = $this.data("name");

                $.post(url, { id:id }, function (data) {
                    $this.parent().fadeOut("fast");
                });

            });

            $("select.sec").on("change", function () {
                var sec = $("select.sec").val();
                window.location = "/admin/dashboard/AddProduct?secId=" + sec;
            });
        });

    </script>
}

